{{>default/header}}

    <body>
        
        {{>default/navbar}}
        
        <!-- Page content-->
        <div class="container mt-5">
            {{{body}}}
        </div>
        
        
        {{>default/footer}}

    </body>

    </html>
        